<body>
  <div class="container">
    <div class="mid five columns">
      <a href=/blog.html><%= image_tag "chris_and_paws.jpeg" %></a>
        <h2 class="bio">About Chris</h2>
        <ul class="social">
          <li class="github hvr-float"><a href="https://github.com/chrishintz" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
          <li class="twitter hvr-float"><a href="https://twitter.com/CIHintz" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a></li>
          <li class="instagram hvr-float"><a href="http://instagram.com/chintz002" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
          <li class="code_builders hvr-float"><a href="https://twitter.com/code_builders" target="_blank"><i class="fa fa-cog fa-lg"></i></a></li>
          <li class="linkedin hvr-float"><a href="https://www.linkedin.com/pub/chris-hintz/36/43b/709" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
          <li class="email hvr-float"><a href="mailto:chrishintz42@gmail.com"><i class="fa fa-envelope fa-md"></i></a></li>
        </ul>
        <p class="bio">
          I grew up in Seattle.  I lived in Atlanta, Denver and the Bay Area for eight years before moving back to Seattle in 2014.  I was an accountant and consultant at <a href="http://www.pwc.com/"> PricewaterhouseCoopers (PwC)</a> before joining <a href="http://Code.Builders" target="_blank">Code Builders</a> to become a developer.
        </p>
        <p class="bio">
          I believe in the continuous development of self and I am always trying to learn something new.  In my free time, I explore the Pacific Northwest and take pictures with my girlfriend, <a href ="https://twitter.com/callapatel" target="_blank">Calla</a>, and my dog, Pawpea.
        </p>
    </div>
  </div>
</body>
