<div class="main container">
  <div class='work'>
    <div class='box twelve columns'>
      <h1>
        CPA to Developer
      </h1>
      <h5>October 30, 2015</h5>
      <div>
        <p>
          It was the middle of June 2015 when I first heard that <a href="http://Code.Builders" target="_blank">Code Builders</a> would be opening it's doors in the Fall of 2015.  I had known the founder, Bookis, from his times as lead instructor at <a href="http://adadevelopersacademy.org/" target="_blank">Ada Developer's Academy</a>.
          For more than two years I knew I wanted to make the switch from CPA/consultant to developer, yet no program ever seemed "just right".
          Most were too short (8-12 weeks), too large (20+ students), and didn't offer any real-life job experience.
          However, Code Builders alleviated all of those concerns making it the clear choice for me to begin my developing journey.
        </p>
        <p>
          My journey to get to Code Builders was unconventional.  Going into college, I thought I had it all figured out, to make money and be happy in life,
          you had to be a business undergrad, go into the business world and work for 30-35 years, eventually rising to the ranks of executive.
          After spending five years as a public accountant and consultant, I realized this path was not leaving me fulfilled, I was not creating or developing.
        </p>
        <p>
          At dinner one night with a former accounting colleague, my colleague remarked, "I remember riding with my grandpa when I was young and sometimes he'd stop at a bridge and say
          'I helped build that'.  He took immense pride in the fact that he built something that lasted for decades and helped others.  What am I going to be able to show my kids and grandkids?"
          His words have stayed with me years later.  Unfortunately, once the money gets good, the opportunity cost to change career course becomes too great for most and they reside themselves to climbing the corporate ladder because the idea of rebooting their career and “starting over” is too formidable.
        </p>
        <p>
          Fortunately for me, I've seen my brother and girlfriend become developers.  I always envyed their career satisfaction.
          A couple of Christmas' ago, my brother was telling me about how his team at work took the day of visit a winery.
          He's not much of a drinker and mentioned off hand that he'd have preferred to at work.  I said to him, "at least you had a day off from work."
          His response caught me off-guard, as he said "I like going to work and look forward to working on my projects every day, so missing a day of work for me isn't much of a perk."
          In five years, I haven't met an accountant who would have said that.
        </p>
        <p>
          After 4 weeks, here I am creating this site, having learned some Ruby, Rails, HTML, and CSS.  My goal is to keep this up to day (weekly) and track my growth and progress as a developer.
        </p>
      </div>
    </div>
  </div>
