<div class="container main">
  <div class="row">
    <div class="four columns">
      <a href="https://github.com/chrishintz/far_mar"><img src="/assets/farmers_market.jpg" /></a>
    </div>
    <div class="eight columns">
      <h2>Farmers Market Project</h2>
      <p>In this project, I created a tool for use in irb to look up Farmers Markets and their related vendors, products, and sales.  I used CSV files as my database.</p>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <a href="https://github.com/chrishintz/soapbox"><img src="/assets/soapbox.jpg" /></a>
    </div>
    <div class="eight columns">
      <h2>Soapbox Project</h2>
      <p>In the Soapbox Project, I built a command-line based social media platform (think twitter) to share short thoughts via synced file systems.  In this project I used ruby to read and write files which each written file being a post to my social media platform.  Additionally, I used Dopbox to automatically sync these files across multiple computeres.</p>
    </div>
  </div>
</div>
