body {
  background-image: url(/assets/cannon_beach.JPG);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
  margin:0;
}

a:link {
  color: #F0FFFF;
  text-decoration: none;
}

.header {
  height: 55px;
  width: 100%;
  margin: 0px;
  background-color: rgba(118,123,145,0.9);
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
}

.header:first-child {
  border-bottom: 0;
}

.header .container .navigation {
  margin: 0;
  width: 100%;
  height: 40px;
}

.header .container .navigation ul {
  padding: 0;
  margin: 0
}

.header .container .navigation h1 {
  display: block;
  margin: 5px 0;
  font-size: 3.5em;
}

.header .container .navigation li {
  display: inline-block;
  font-size: 20px;
  color: #F27979;
}

.header .container .navigation li a {
  padding: 8px 15px;
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.box h5 {
  font-style: italic;
  font-weight: bold;
}

.bio {
  display: inline-block;
  float:left;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

.blog p a {
  color: #F27979;
}

h2.bio {
  color:#fff;
  font-family: 'Satisfy', sans-serif;
  font-size: 34px;
  margin: 1%;
  text-align: center;
}
p.bio {
  color:#fff;
  margin: 10px;
  width: 95%;
}

p.bio a {
  color:#F27979;
  font-weight: bold;
}

p.work {
  font:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

p.work a {
  color:#F27979;
}

.mid {
  float:left;
  background-color: rgba(118,123,145,0.8);
  border: 3px solid #fff;
  margin-top: 1%;
}

.box {
  margin-top: 1%;
  max-width: 1000px;
  width: 100%;
  margin-left: 3%;
  background-color: rgba(118,123,145,0.9);
  border: 1px solid #0B0B0B;*/
  padding: 1%;
}

.work .box p {
  margin: 1%;
  padding: 5px 20px;
}

.work .box h5 {
  margin: 1%;
  padding: 5px 20px;
}

.work .box h1 {
  margin: 1%;
  padding: 5px 20px;
}

.box:first-child {
  margin-left: 0;
}

.work:after {
  content: "";
  clear: both;
  display: block;
}

.image {
  position: relative;
  width: 100%;
}

.image h1 {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
}

.image h1 span {
   color: white;
   font: bold 45px Helvetica, Sans-Serif;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   line-height: 1.6;
   margin-right: 22px;
}

.image h1 span:first-child {
  margin-left:0;
}

.work .box .image img {
  width: 100%;
  position: relative;
  min-height: 200px;
}

.mid img {
  float: left;
  width:100%;
  height: auto;
  }

img:hover{
  opacity: 0.8;
}

ul.social{
	display: block;
	list-style-type: none;
	text-align: center;
  padding: 0;
  margin-bottom: 0;
}

ul.social li{
	font-size: 1.5em;
	display: inline-block;
	padding: 0 1.5%;
  text-align: center;
}

ul.social li a{
	color: white;
}

ul.social li.github a:hover {
  color: rgb(59,89,152);
}

ul.social li.twitter a:hover {
  color: rgb(0,172,237);
}

ul.social li.instagram a:hover {
  color: rgb(81,127,237);
}

ul.social li.code_builders a:hover {
  color: rgb(0, 123,182);
}

ul.social li.linkedin a:hover {
  color: rgb(0, 123,182);
}

ul.social li.email a:hover {
  color: #e76c69;
}

ul li.site_links a:hover {
  color: #e76c69;
  background-color: #535767;
}

.row{
  float: left;
  background-color: rgba(118,123,145,0.8);
  width: 100%;
  margin: 1% 0 0 0;
  border: 1px solid white;
}

.row:first-child {
  margin-top: 1%;
}

.row p {
  margin-right: 12px;
}

.row img {
  width: 100%;
  display: block;
  border: 1px solid black;
}
